@import './../../../styles/globalVariables.scss';

.sidebar{
    position: fixed;
    width: 5rem;
    padding-right: .5rem;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: $ComponentBackGround;
    box-shadow: .1rem 0 .5rem $ElementBackGround;
    @include transition(width);
    z-index: 2;
    &.expanded{
        width: 12rem;
    }

    .logo{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .routes{
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.nav{
    position: relative;
    .nav-content{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 4rem;
        top: 0;
        left: 5rem;
        right: 0;
        z-index: 1;
        padding: 1rem;
        background-color: $BackGroundPrimary;
        .utilities{
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .page-label{
            color: $Font;
            font-size: 1.5rem;
            font-weight: 800;
        }
    }
    .user-options{
        background-color: $ComponentBackGround;
        position: fixed;
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        top: 4rem;
        right: 0rem;
        width: 15rem;
        height: 11rem;
        transition: all .2s ease-in-out;
        background-color: azure;
        visibility: hidden;
        opacity: 0;
        &.expanded{
            opacity: 1;
            transform-origin: top right;
            transform: translate3d(-.5rem, .5rem, 0);
            visibility: visible;
            width: 15rem;
            height: 11rem;
            .options{
                width: 100%;
            }
        }

        .options{
            display:flex;
            flex-direction: column;
            gap: .5rem;
            padding: .75rem;
            border-top: 1px solid $BackGroundPrimary;

            
        }
    }
}
