@import './globalVariables.scss';


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: $BackGroundPrimary;
  color: $Font;
}

a{
  text-decoration: none;
}

button{
  background-color: transparent;
  border: none;
}

li{
  list-style: none;
}

.content{
  height: 100vh;
  padding: 5rem 2rem 2rem 7rem;
  @include transition(blur);
  &.blur{
    filter: blur(1rem);
  }
}

@media (max-width: 768px) {
  .content {
    padding: 5rem .5rem .5rem .5rem;
  }
}